<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Uploader</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>AI BBK</h1>
    <div class="container">
        <div class="analyze">
            <form action="/files" method="post" enctype="multipart/form-data" id="upload-form">
                <div class="form-group">
                    <input type="file" name="upload_file" id="file" accept="application/pdf" required>
                    <label for="file">Выберите файл</label>
                    <span id="file-name"></span>
                    <span id="close--one" style="color: SlateBlue; cursor: pointer;"></span>

                </div>

                <div class="info">
                    <div class="book" id="book-text">{{ book_text }}</div>
                    <div class="bbk_list" id="book-list"> {{ res_text|safe }}</div>
                </div>
                <button type="submit" name="action" value="analyze">Классифицировать</button>
            </form>
        </div>
        <div class="checkinfo">
            <button type="submit">Просмотреть ключевые термины</button>
            <button type="submit">Просмотреть все индексы с весами</button>
            <button type="submit">Отправить данные</button>
        </div>
    </div>
    <script src="static/js/scripts/checktext.js"></script>
    <script src="static/js/scripts/demotext.js"></script>
</body>
</ht